

// Font
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@500;600&display=swap');

// Modules
@import './modules/color.scss';

// Partials
@import './partials/navigation.scss';


html,
body {
    margin: 0;
    padding: 0;
}

.container {
  background-color: pink;
  padding-top: 20px;

  @include media-breakpoint-up(lg) {
    background-color: purple;
  }
}
