@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@500;600&display=swap");
.menu {
  background-color: brown;
  z-index: 3; }
  .menu__logo {
    width: 200px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../../assets/images/logo.png"); }
  .menu__logo-link {
    display: block;
    font-size: 2em;
    text-decoration: none; }
  .menu__phone {
    width: 32px;
    height: 32px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../../assets/images/call.png");
    margin-bottom: 5px; }
    @media (min-width: 992px) {
      .menu__phone {
        margin-bottom: 0;
        margin-top: 5px; } }
  .menu__button {
    position: relative;
    width: 130px;
    height: 35px;
    border: none;
    background-color: #F85A40; }
    @media (min-width: 992px) {
      .menu__button {
        height: 40px; } }
  .menu__button:focus {
    outline: 0; }
  .menu__button-icon {
    width: 23px;
    height: 23px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../../assets/images/cv.png");
    left: 18%;
    margin-left: -15px;
    top: 50%;
    margin-top: -12px;
    position: absolute; }
  .menu__button-title {
    color: #FFF;
    font-size: 12px;
    font-family: 'Sora', sans-serif;
    font-weight: 500;
    display: inline-block;
    vertical-align: middle;
    margin-left: 8px; }
  .menu__toggle {
    display: inline-block;
    padding: .75em 15px;
    line-height: 1em;
    font-size: 1em;
    color: #333;
    background-color: grey; }
  .menu__toggle:hover, .menu__toggle:focus {
    color: #c00; }
  .menu__bar {
    background-color: black;
    width: 22px;
    height: 2px;
    margin: 6px 0; }
  .menu__nav-item {
    display: flex;
    justify-content: center;
    font-family: 'Sora', sans-serif;
    font-size: 14px;
    margin-bottom: 20px; }
    @media (min-width: 992px) {
      .menu__nav-item {
        margin-bottom: 0;
        margin-left: 40px;
        height: 3em; } }
    @media (min-width: 1200px) {
      .menu__nav-item {
        display: block;
        line-height: 12px; } }
  .menu__nav-item a {
    color: #000; }
    @media (min-width: 992px) {
      .menu__nav-item a {
        display: inline-block;
        vertical-align: middle; } }
  @media (min-width: 992px) {
    .menu__nav-item:before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      height: 100%; } }
  @media (min-width: 992px) {
    .menu__navbar {
      margin-bottom: -5px; } }
  .menu__toggle {
    position: absolute;
    right: 0;
    display: block;
    background-color: #FFF; }
    @media (min-width: 992px) {
      .menu__toggle {
        display: none; } }

/* Screen reader only */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.navbar {
  padding: 0; }

.hero__img {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../../assets/images/residential--mobile.png");
  margin-bottom: 50px;
  height: 350px;
  padding: 0; }
  @media (min-width: 500px) {
    .hero__img {
      height: 500px; } }
  @media (min-width: 768px) {
    .hero__img {
      background-image: url("../../assets/images/residential--desktop.png"); } }
  @media (min-width: 992px) {
    .hero__img {
      order: 2;
      min-height: 400px; } }

.hero__intro-wrapper, .hero__intro-small-wrapper {
  width: 100%;
  padding-left: 50px;
  padding-right: 50px; }
  @media (min-width: 768px) {
    .hero__intro-wrapper, .hero__intro-small-wrapper {
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: center; } }
  @media (min-width: 992px) {
    .hero__intro-wrapper, .hero__intro-small-wrapper {
      flex-direction: row; } }

@media (min-width: 992px) {
  .hero__intro-wrapper {
    margin-top: 50px; } }

@media (min-width: 992px) {
  .hero__intro, .hero__intro-small {
    max-width: 450px; } }

@media (min-width: 1200px) {
  .hero__intro, .hero__intro-small {
    max-width: 540px; } }

.hero__intro {
  margin-bottom: 20px; }
  @media (min-width: 768px) {
    .hero__intro {
      margin-bottom: 0; } }
  @media (min-width: 992px) {
    .hero__intro {
      margin-bottom: 20px; } }

.hero__button-title, .hero__text, .hero__text-small {
  font-family: 'Inter', sans-serif; }

.hero__text {
  font-size: 40px;
  color: #000;
  line-height: 1.2; }
  @media (min-width: 500px) {
    .hero__text {
      max-width: 350px;
      font-size: 43px; } }
  @media (min-width: 992px) {
    .hero__text {
      max-width: 300px;
      margin: 0 auto;
      font-size: 50px; } }

.hero__text-exception {
  color: #F85A40; }

.hero__text-small {
  font-size: 14px;
  max-width: 180px;
  margin-bottom: 20px; }
  @media (min-width: 768px) {
    .hero__text-small {
      font-size: 16px; } }
  @media (min-width: 992px) {
    .hero__text-small {
      max-width: 300px;
      font-size: 15px; } }

@media (min-width: 768px) {
  .hero__text-small-wrapper {
    margin: 0 auto;
    margin-top: 10px; } }

@media (min-width: 992px) {
  .hero__text-small-wrapper {
    max-width: 300px;
    margin: 0;
    margin-left: -12px; } }

.hero__row {
  display: flex;
  flex-direction: row; }
  @media (min-width: 992px) {
    .hero__row {
      flex-direction: column;
      height: 500px; } }

.hero__button {
  display: inline-block;
  display: flex;
  border: none;
  padding: 0.9rem 1rem;
  margin: 0;
  width: 149px;
  height: 40px;
  text-decoration: none;
  background: #57BEF7;
  color: #FFF;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer; }
  @media (min-width: 992px) {
    .hero__button {
      width: 220px;
      height: 50px; } }

.hero__button-title {
  font-size: 10px; }
  @media (min-width: 768px) {
    .hero__button-title {
      width: 100px; } }
  @media (min-width: 992px) {
    .hero__button-title {
      font-size: 14px;
      width: 100%; } }

.hero__button-heart {
  width: 12px;
  height: 12px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 2px;
  margin-right: 3px;
  background-image: url("../../assets/images/heart.png"); }
  @media (min-width: 768px) {
    .hero__button-heart {
      width: 15px;
      height: 14px;
      margin-top: 1px;
      margin-left: -3px; } }
  @media (min-width: 992px) {
    .hero__button-heart {
      width: 20px;
      height: 20px; } }

html,
body {
  margin: 0;
  padding: 0; }

.container {
  padding-top: 20px; }

.header {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 20px; }
  @media (min-width: 992px) {
    .header {
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 40px; } }

@media (min-width: 768px) {
  .hero {
    margin-bottom: 40px; } }
