@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@500;600&display=swap");
.menu {
  background-color: brown;
  width: 100%;
  z-index: 3; }
  .menu__logo {
    width: 200px;
    height: 50px;
    background-color: green;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../../assets/images/logo.png"); }
  .menu__logo-link {
    display: block;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none; }
  .menu__phone {
    width: 32px;
    height: 32px;
    background-color: green;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../../assets/images/call.png");
    margin-bottom: 5px; }
  .menu__button {
    position: relative;
    width: 130px;
    height: 35px; }
  .menu__button-icon {
    width: 23px;
    height: 23px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../../assets/images/cv.png");
    left: 18%;
    margin-left: -15px;
    top: 50%;
    margin-top: -12px;
    position: absolute; }
  .menu__button-title {
    color: #FFF;
    font-size: 12px;
    font-family: 'Sora', sans-serif;
    font-weight: 500;
    display: inline-block;
    vertical-align: middle;
    margin-left: 8px; }
  .menu__button {
    border: none;
    display: block;
    background-color: #F85A40; }
  .menu__button:focus {
    outline: 0; }
  .menu__toggle {
    display: inline-block;
    padding: .75em 15px;
    line-height: 1em;
    font-size: 1em;
    color: #333;
    background-color: grey; }
  .menu__toggle:hover, .menu__toggle:focus {
    color: #c00; }
  .menu__bar {
    width: 22px;
    height: 2px;
    background-color: black;
    margin: 6px 0; }
  .menu__close-icon {
    width: 60px;
    height: 60px;
    position: relative; }
  .menu__close-icon:after {
    content: '';
    height: 60px;
    border-left: 2px solid #fff;
    position: absolute;
    transform: rotate(45deg);
    left: 28px; }
  .menu__close-icon:before {
    content: '';
    height: 60px;
    border-left: 2px solid #fff;
    position: absolute;
    transform: rotate(-45deg);
    left: 28px; }

/* Screen reader only */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

html,
body {
  margin: 0;
  padding: 0; }

.container {
  background-color: pink;
  padding-top: 20px; }
