.hero {
&__img {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../../assets/images/residential--mobile.png");
  margin-bottom: 50px;
  height: 350px;
  padding: 0;

  @media (min-width: 500px) {
    height: 500px;
  }

  @media (min-width: 768px) {
    background-image: url("../../assets/images/residential--desktop.png");
  }

  @media (min-width: 992px) {
    order: 2;
    min-height: 420px;
    min-width: 55%;
  }

  @media (min-width: 1200px) {
    min-height: 550px;
    min-width: 60%;
  }
}

&__intro-wrapper, &__intro-small-wrapper{
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;

    @media (min-width: 768px) {
      padding: 0;

    }
}

&__intro-small-wrapper {
  @media (min-width: 768px) {
    margin-top: 25px;
  }

  @media (min-width: 992px) {
      margin-top: 20px;
  }
}

&__intro-wrapper {
    @media (min-width: 992px) {
        margin-top: 55px;
    }

    @media (min-width: 1200px) {
        margin-top: 110px;
    }
}

&__intro, &__intro-small {

  @media (min-width: 992px) {
      max-width: 402px;
  }
  @media (min-width: 1200px) {

    max-width: 428px;

  }
}

&__intro {
  margin-bottom: 20px;

  @media (min-width: 768px) {
      margin-bottom: 0;
  }

  @media (min-width: 992px) {

  }
}

&__intro-small {

}

&__button-title, &__text, &__text-small {
  font-family: 'Inter', sans-serif;
}

&__text {
  font-size: 40px;
  color: $black;
  line-height: 1.2;

  @media (min-width: 500px) {
    max-width: 350px;
    font-size: 43px;
  }
  @media (min-width: 992px) {
     max-width: 300px;
     font-size: 50px;
  }

  @media (min-width: 1200px) {
    font-size: 60px;
  }
}

&__text-exception {
  color: $redorange;
}

&__text-small {
  font-size: 14px;
  max-width: 180px;
  margin-bottom: 20px;

  @media (min-width: 768px) {
    font-size: 16px;
    max-width: 300px;
  }
  @media (min-width: 992px) {
    max-width: 300px;
    font-size: 15px;
  }
}

&__text-small-wrapper {
    @media (min-width: 768px) {
        margin: 0 auto;
        margin-top: 10px;
    }
    @media (min-width: 992px) {
        max-width: 300px;
        margin: 0;

    }
}

&__row {
  display: flex;
  flex-direction: row;

  @media (min-width: 992px) {
    flex-direction: column;
    height: 500px;
  }
}

&__button {
  display: inline-block;
  display: flex;
  border: none;
  padding: 0.9rem 1rem;
  margin: 0;
  width: 149px;
  height: 40px;
  text-decoration: none;
  background: $blue;
  color: $white;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;

  @media (min-width: 992px) {
      width: 220px;
      height: 50px;
      margin-top: 30px;
  }
}

&__button-title {
  font-size: 10px;

  @media (min-width: 768px) {
    width: 100px;
  }

  @media (min-width: 992px) {
      font-size: 14px;
      width: 100%;
  }
}

&__button-heart {
  width: 12px;
  height: 12px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 2px;
  margin-right: 3px;
  background-image: url("../../assets/images/heart.png");

  @media (min-width: 768px) {
    width: 15px;
    height: 14px;
    margin-top: 1px;
    margin-left: -3px;
  }

  @media (min-width: 992px) {
    width: 20px;
    height: 20px;

  }
}
}
