.menu {
  background-color: brown;
  z-index: 3;

  &__logo {
    width: 200px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../../assets/images/logo.png");
  }

  &__logo-link {
    display: block;
    font-size: 2em;
    text-decoration: none;
  }

  &__phone {
    width: 32px;
    height: 32px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../../assets/images/call.png");
    margin-bottom: 5px;

    @media (min-width: 992px) {
        margin-bottom: 0;
        margin-top: 5px;
    }
  }

  &__button {
      position: relative;
      width: 130px;
      height: 35px;
      border: none;
      background-color: $redorange;

      @media (min-width: 992px) {
          height: 40px;
      }
  }

  &__button:focus {
    outline: 0;
  }

  &__button-icon, &__button-title {

  }

  &__button-icon {
    width: 23px;
    height: 23px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../../assets/images/cv.png");
    left: 18%;
    margin-left: -15px;
    top: 50%;
    margin-top: -12px;
 	  position: absolute;
  }

  &__button-title {
    color: $white;
    font-size: 12px;
    font-family: 'Sora', sans-serif;
    font-weight: 500;
    display:inline-block;
    vertical-align:middle;
    margin-left: 8px;
  }

  // Hamburger menu

  &__toggle {
    display: inline-block;
    padding: .75em 15px;
    line-height: 1em;
    font-size: 1em;
    color: #333;
    background-color: grey;
  }

  &__toggle:hover, &__toggle:focus {
      color: #c00;
  }

  &__bar {
      background-color: black;
    width: 22px;
   height: 2px;
   margin: 6px 0;
  }

  &__nav-item {
    display: flex;
    justify-content: center;
    font-family: 'Sora', sans-serif;
    font-size: 14px;

    margin-bottom: 8px;

    @media (min-width: 992px) {
        margin-bottom: 0;
        margin-left: 40px;
        height: 3em;
    }

    @media (min-width: 1200px) {
        display: block;
        line-height: 12px;
    }
  }

  &__nav-item a{
      color: $black;
      @media (min-width: 992px) {
        display: inline-block;
         vertical-align: middle;
      }
  }

  &__nav-item:before {
      @media (min-width: 992px) {
        content: '';
        display: inline-block;
        vertical-align: middle;
        height: 100%;
      }
  }

  &__navbar {
      @media (min-width: 992px) {
          margin-bottom: -5px;
      }
  }

  &__toggle {
      position: absolute;
      right: 0;
      display: block;
      background-color: $white;

      // LG
      @media (min-width: 992px) {
          display: none;
      }
  }

  &__main-menu {

  }

}

/* Screen reader only */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

// Overwrite styles

.navbar {
    padding: 0;
}
